:root {
    --main-white: whitesmoke;
    font-family: "Raleway", sans-serif;
}

body {
    text-align: center;
}

svg {
    background-color: var(--main-white);
}

#canvas {
    min-width: 1000px;
    min-height: 600px;
}

.county:hover {
    fill: orange;
}

#tooltip {
    visibility: hidden;
}

a {
    text-decoration: none;
}